<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag "add_style", media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "events", media: 'all', 'data-turbolinks-track' => true %>



    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <%= link_to "BBQ!", root_path, class: "navbar-brand" %>
        

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if user_signed_in? %>
              <%= link_to 'Профиль', current_user, class: "nav-link active" %>
              <%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link active" %>
            <% else %>
              <%= link_to 'Войти', new_user_session_path , class: "nav-link active" %>
              <%= link_to 'Зарегистрироваться',
                      new_user_registration_path, class: "nav-link active" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <% if flash[:notice].present? %>
        <%= flash[:notice] %> 
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
